{
  "openapi": "3.1.0",
  "info": {
    "title": "Foundation Risk Registry Agent API",
    "description": "Read mapped soil screening context and submit authorized foundation-evaluation follow-up requests.",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://foundationrisk.org"
    }
  ],
  "paths": {
    "/api/agent/soil-data": {
      "get": {
        "summary": "Retrieve mapped soil screening context for a city.",
        "operationId": "getSoilData",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "description": "A city slug such as cedar-park-tx. A terminal -soil-analysis suffix is accepted and normalized.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$",
              "maxLength": 114
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mapped regional soil context. This is not a property diagnosis.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "city": { "type": "string" },
                    "state": { "type": "string" },
                    "soil_type": { "type": "string" },
                    "plasticity_index": { "type": "number" },
                    "risk_level": { "type": "string" },
                    "interpretation": { "type": "string" },
                    "agent_booking_endpoint": { "type": "string", "format": "uri" }
                  }
                }
              },
              "text/markdown": {
                "schema": { "type": "string" }
              }
            }
          },
          "400": { "description": "Missing or invalid slug." },
          "404": { "description": "Location not found." },
          "503": { "description": "Soil data temporarily unavailable." }
        }
      }
    },
    "/api/agent/book": {
      "post": {
        "summary": "Submit an authorized foundation-evaluation follow-up request.",
        "operationId": "bookConsultation",
        "description": "Submit homeowner data only with the homeowner's express authorization. The third request for the same phone number within one hour is rejected.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The full name of the homeowner."
                  },
                  "phone": {
                    "type": "string",
                    "description": "The contact phone number of the homeowner."
                  },
                  "city": {
                    "type": "string",
                    "description": "The city where the property is located."
                  },
                  "soil_symptoms": {
                    "type": "string",
                    "description": "A description of the foundation issues (e.g., cracking, bowing)."
                  }
                },
                "required": ["name", "phone", "city"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Foundation evaluation follow-up request received.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "lead_id": { "type": "string" },
                    "confirmation_code": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Missing fields or invalid JSON." },
          "429": { "description": "Duplicate request limit reached." },
          "500": { "description": "Storage failure." }
        }
      }
    }
  }
}
